/* .contact-header{ 
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/contact3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
} */
.page-header-inner {
    background: rgba(15, 23, 43, .7);
}
.container-xxl .justify{text-align:justify ;}
#justify:hover{
    color: red;
}